*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
  height: 4000px; }

.heading {
  color: #fff;
  text-transform: uppercase; }
  .heading--primary {
    font-size: 6rem;
    display: block;
    letter-spacing: .8rem;
    animation-name: riseUp;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
  .heading--sub {
    font-size: 3rem;
    display: block;
    letter-spacing: .35rem;
    animation-name: fallDown;
    animation-duration: 1s;
    animation-delay: 1.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #57728D, #8096B2);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;
  margin-top: 10rem; }
  .heading-secondary:hover {
    transform: scale(1.2) skewX(-5deg); }

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Cabin", sans-serif;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

@keyframes riseUp {
  0% {
    opacity: 0;
    transform: translateY(15rem); }
  100% {
    opacity: 100%;
    transform: translate(0); } }

@keyframes fallDown {
  0% {
    opacity: 0;
    transform: translateY(-4rem); }
  100% {
    opacity: 100%;
    transform: translate(0); } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 6rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to top, rgba(23, 30, 37, 0.8), rgba(94, 146, 212, 0.8)), url("/images/mountain-lake.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  position: relative;
  clip-path: polygon(100% 95%, 76% 65%, 67% 77%, 44% 64%, 26% 85%, 16% 78%, 0 100%, 0 0, 100% 0); }
  .header__text-box {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.personal-image {
  height: 300rem;
  position: relative; }
  .personal-image__picture {
    width: 100%;
    position: absolute;
    top: 1rem;
    left: 6rem;
    border-radius: 3px;
    box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.6);
    transition: all .2s ease; }
    .personal-image__picture:hover {
      transform: scale(1.2) translateY(-0.8rem);
      box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.4); }

.skills {
  height: 70rem;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(48, 63, 78, 0.8), rgba(94, 146, 212, 0.8)), url("../images/mountain-trees.jpg");
  background-size: cover;
  background-position: top;
  margin-top: -11.5rem;
  transform: skewY(-7deg); }
  .skills > * {
    transform: skewY(7deg); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col"] {
    float: left; }
    .row [class^="col"]:not(:last-child) {
      margin-right: 8rem; }
  .row .col-1-of-2 {
    width: calc((100% - 8rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 8rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 8rem) / 3) + 8rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 8rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 8rem) / 4 ) + 8rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 8rem) / 4 ) + (2 * 8rem)); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -32rem;
  height: 115rem;
  backface-visibility: hidden; }

.section-skills {
  position: relative;
  height: 100rem;
  margin-top: -8rem; }
