.skills{
  height: 70rem;
  padding: 20rem 0;
  background-image: linear-gradient(
                  to right bottom,
                  rgba(darken($color-main-blue, 20%), .8),
                  rgba(saturate($color-middle-blue, 33%), .8)),
  url("../images/mountain-trees.jpg");
  background-size: cover;
  background-position: top;

  margin-top: -11.5rem;
  transform: skewY(-7deg);

  & > *{
    transform: skewY(7deg);
  }
}