//--------------------------
// Neutrals
//--------------------------
$color-white: #fff;
$color-black: #000;
$color-mid-grey: #6A6C6E;

//--------------------------
// Colors
//--------------------------

//sea blue variants
$color-sea-blue: #76A5AF;
$color-sea-blue-shaded: #5E848C;
$color-sea-blue-tinted: #7E9DA3;

//dodger blue and variants
$color-dodger-blue: #1783E5;
$color-dodger-blue-tinted: #A0CDF4;

//oranges
$color-orange: #EC9E4C;
$color-orange-tinted: #F3C18D;

//greens
$color-green: #569c4e;
$color-green-tinted: #A9CDA4;