@keyframes riseUp{
  0%{
    opacity: 0;
    transform: translateY(15rem);
  }
  100%{
    opacity: 100%;
    transform: translate(0);
  }
}

@keyframes fallDown{
  0%{
    opacity: 0;
    transform: translateY(-4rem);
  }
  100%{
    opacity: 100%;
    transform: translate(0);
  }
}