.heading{
  color: $color-white;
  text-transform: uppercase;

  &--primary{
    font-size: 6rem;
    display: block;
    letter-spacing: .8rem;

    animation-name: riseUp;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }

  &--sub{
    font-size: 3rem;
    display: block;
    letter-spacing: .35rem;

    animation-name: fallDown;
    animation-duration: 1s;
    animation-delay: 1.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
  }
}

.heading-secondary{
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-main-blue, $color-middle-blue);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;
  margin-top: 10rem;

  &:hover{
    transform: scale(1.2) skewX(-5deg);
  }
}

.heading-tertiary{
  font-size: $default-font-size;
  font-weight: 700;
  font-family: "Cabin", sans-serif;
  text-transform: uppercase;
}

.paragraph{
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;

  &:not(:last-child){
    margin-bottom: 2rem;
  }
}