.experience{
    background-color: lighten($color-mid-grey, 50);
    height: 150rem;

    &-banner{
        background-image: linear-gradient(to bottom, rgba(saturate($color-sea-blue-tinted, 20), .8), rgba(saturate($color-sea-blue-shaded, 80), .8)), url("../../images/desk.jpeg");
        background-size: cover;
        background-position: center;

        margin-top: -6.5rem;

        height: 40rem;
        width: 100%;

        transform: skewY(-4deg);

        position: relative;
    }

    &-title-wrapper{
        position: absolute;

        @include center-absolute();
        top: 18rem;
    }

    &-card-wrapper{
        display: grid;
        @include grid-3-column(1fr, 1fr, 1fr);
        grid-gap: 2rem;

        margin-top: 20rem;
        padding: 2rem;

        text-align: center;
    }
}

.card{
    perspective: 1000px;

    height: 50rem;
    width: 40rem;

    margin: 0 auto;

    &:hover &-inner{
        transform: rotateY(180deg);
    }

    &-inner{
        position: relative;

        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    &-front,
    &-back
    {
        position: absolute;

        height: 50rem;
        width: 40rem;

        background-color: $color-white;

        border-radius: $rounded-corner-main;
        box-shadow: 0 .6rem 3rem rgba($color-mid-grey, .5);

        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }

    &-back{

        transform: rotateY(180deg);

        &-title{
            margin-top: 3rem;
            margin-bottom: 1rem;
        }

        &-paragraph{
            margin-top: 2rem;
            padding: 4rem;
            line-height: 1.5;
        }
    }

    &-image{
        position: absolute;

        &-1,
        &-2,
        &-3{
            height: 30%;
            width: 100%;
            background-blend-mode: screen;
            background-size: cover;

            border-top-left-radius: $rounded-corner-main;
            border-top-right-radius: $rounded-corner-main;
        }

        &-1{
            background-image: linear-gradient(to bottom right, rgba($color-dodger-blue, .9), rgba($color-dodger-blue-tinted, .8)), url("../../images/code.jpeg");
        }

        &-2{
            background-image: linear-gradient(to bottom right, rgba($color-green, .9), rgba($color-green-tinted, .9)), url("../../images/laptop.jpg");
        }

        &-3{
            background-image: linear-gradient(to bottom right, rgba($color-orange, .9), rgba($color-orange-tinted, .8)), url("../../images/laptop-2.jpg");
        }
    }

    &-title-1,
    &-title-2,
    &-title-3{
        display: inline-block;

        padding: .8rem 1rem .8rem 1rem;
        margin-top: 9rem;
        margin-left: -20rem;
    }

    &-title-1{
        background-image: linear-gradient(to bottom right, $color-dodger-blue, lighten($color-dodger-blue, 20));
    }

    &-title-2{
        background-image: linear-gradient(to bottom right, $color-green, $color-green-tinted);
        margin-left: -16rem;
    }

    &-title-3{
        background-image: linear-gradient(to bottom right, $color-orange, $color-orange-tinted);
    }

    &-description{
        position: absolute;

        width: 90%;

        padding: 2rem;
        margin-top: 3rem;

        -webkit-backface-visibility: hidden;
    }

    &-position{
        margin-bottom: 1rem;

        &-date{
            margin-bottom: 1rem;
        }

        &-points{
            margin: 5rem 0 0 2rem;

            & > li{
                margin-bottom: 1rem;
            }
        }
    }
}

.line-wrapper{
    padding: 2rem;
}

hr{
    margin-bottom: 1rem;
}

@media only screen and (max-width: 1400px){
    .experience{
        height: 260rem;
    }

    .experience-card-wrapper{
        @include grid-2-column(1fr, 1fr);
        grid-gap: 8rem;
        margin: 200px auto 0 auto;
    }

    .card{
        @include column-1(1, 3);
        width: 50vw;
    }

    .card-front,
    .card-back{
        position: absolute;

        width: 50vw;
    }
}