.main-container{
    background-image: linear-gradient(to bottom, rgba(saturate($color-sea-blue-shaded, 80), .8), rgba(saturate($color-sea-blue-tinted, 20), .8)), url("../../images/mountain-lake.jpg");
    background-size: cover;
    background-attachment: fixed;

    height: 90vh;
    width: 100%;
    margin: 0 auto;

    -webkit-clip-path: polygon(100% 0, 100% 100%, 77% 78%, 68% 86%, 49% 73%, 31% 93%, 20% 83%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 100%, 77% 78%, 68% 86%, 49% 73%, 31% 93%, 20% 83%, 0 100%, 0 0);

    position: relative;

    z-index: 100;
}

.main-title{
    position: absolute;

    top: 15rem;
    @include center-absolute();
}

.main-sub-title{
    position: absolute;

    top: 22rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}