@mixin grid-2-column($col-1-size, $col-2-size){
    grid-template-columns: $col-1-size $col-2-size;
}

@mixin grid-2-row($row-1-size, $row-2-size){
    grid-template-rows: $row-1-size $row-2-size;
}

@mixin grid-3-column($col-1-size, $col-2-size, $col-3-size){
    grid-template-columns: $col-1-size $col-2-size $col-3-size;
}

@mixin grid-3-row($row-1-size, $row-2-size, $row-3-size){
    grid-template-rows: $row-1-size $row-2-size $row-3-size;
}

@mixin grid-5-column($col-1-size, $col-2-size, $col-3-size, $col-4-size, $col-5-size){
    grid-template-columns: $col-1-size $col-2-size $col-3-size $col-4-size $col-5-size;
}

@mixin column-1($start, $end){
    grid-column-start: $start;
    grid-column-end: $end;
}

@mixin column-2(){
    grid-column-start: 1;
    grid-column-end: 3;
}

@mixin column-3(){
    grid-column-start: 1;
    grid-column-end: 4;
}

@mixin row-1(){
    grid-row-start: 1;
    grid-row-end: 2;
}

@mixin row-2(){
    grid-row-start: 1;
    grid-row-end: 3;
}

@mixin row-3(){
    grid-row-start: 1;
    grid-row-end: 4;
}