.main-title{
    font-family: "Raleway", sans-serif;
    font-size: 5rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    text-align: center;

    color: $color-white;
}

.main-sub-title{
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    text-align: center;

    color: $color-white;
}