.main-title{
    font-family: "Raleway", sans-serif;
    font-size: 5rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    text-align: center;

    color: $color-white;
}

.main-sub-title{
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    text-align: center;

    color: $color-white;
}

.about-me-title{
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    text-align: center;
    letter-spacing: .5rem;

    color: $color-mid-grey;
}

.about-me-paragraph{
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    text-align: left;
    line-height: 1.5;

    color: $color-mid-grey;
}

.experience-title{
    font-family: "Raleway", sans-serif;
    font-size: 5rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    text-align: center;

    color: $color-white;

    transform: skewY(4deg);
}

.experience-card-title-1,
.experience-card-title-2,
.experience-card-title-3{
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    letter-spacing: .2rem;
    text-transform: uppercase;

    color: $color-white
}

.experience-card-position{
    font-family: "Raleway", sans-serif;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-align: left;

    &-date{
        font-family: "Raleway", sans-serif;
        font-size: 1.6rem;
        letter-spacing: .1rem;
        text-transform: uppercase;
        text-align: left;
    }

    &-points{
        font-family: "Montserrat", sans-serif;
        font-size: 1.6rem;
        text-align: left;
    }
}