.main-title{
    font-family: "Raleway", sans-serif;
    font-size: 5rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    text-align: center;

    color: $color-white;
}

.main-sub-title{
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    text-align: center;

    color: $color-white;
}

.about-me-title{
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    text-align: center;

    color: $color-mid-grey;
}

.about-me-paragraph{
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    text-align: left;

    color: $color-mid-grey;
}

.experience-title{
    font-family: "Raleway", sans-serif;
    font-size: 5rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    text-align: center;

    color: $color-white;

    transform: skewY(4deg);
}